

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --brand-color: #082A74;
}



.brand__logo
{
    background-color: var(--brand-color);
    padding: .5rem;
    border-radius: 50%;
}
.brand__name
{
    color: var(--brand-color);
}