.journal-section
{
    display: flex;
    width: 896px;
    height: 139px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: 1.5px solid #A3A3A3;
}

.journal__btn
{
    display: flex;
    width: 110px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #59168B; 
    color: #fff;   
}

a:any-link
{
    text-decoration: none;
    color: inherit;
}

.security__section
{
    display: flex;
    width: 486px;
    height: 68px;
    padding: 8px;
    gap: 12px;
    align-items: center;
    border-radius: 14px;
    background: #EFF6FF;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.12);

}

.prompt__section
{
    display: flex;
    padding: 8px;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    width: 486px;
}

.prompt__image
{
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.prompt__question
{
    display: flex;
    height: 53.386px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 0.7px solid #A55DDA;
    background: #FDF2F8;
}

.entery__section
{
    display: flex;
    padding: 8px;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
}

.entery__rapper
{
    display: flex;
    width: 486px;
    padding: 8px;
    gap: 12px;
    align-items: center;
    border-radius: 14px;
    background: #FDF2F8;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}

.entery__svg
{
    background-color: #59168B;
    padding:3px ;
    border-radius: 5px;

}

.description__svg
{
    margin-right: 5px;
}