.welcome-description
{
    display: flex;
    gap: 1rem;
    width: 70%;
}



.recommendation__section
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    
}

.recommendation__rapper
{
    display: flex;
    width: 45rem;
    padding: .8rem;
    gap: 1rem;
    align-items: center;
    border-radius: 1.4rem;
    border: .1rem solid #333;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    line-height: 1.6;
}

.recommendation__description
{
    padding: 2rem;
}

.recommendation__level
{
    position: absolute;
    padding: .5rem 1rem;
    right: 1rem;
    top: 1rem;
    border-radius: 1rem;
    background-color: #59168B;
    color: #fff;
}

.recommendation__svg
{
    position: relative;
    top: .8rem;
    right: .8rem;

}

.description__time
{
    display: flex;
    gap: 2rem;
}

.recommendation__steps
{
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recommendation__step-rapper
{
    background-color:#FDF2F8 ;
    border-radius: 1rem;
    width: 45rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.step__img
{
    width: 2.4rem;
    right: 2.4rem;
}

.step__items
{
    list-style-type: none;
}

.step__item-img
{
    padding: 0 1rem;
}

.step__img--secondary
{
    padding: .3rem;
    background-color: #59168B;
    border-radius: .5rem;
}

.coming-section
{
    margin-top: 2rem;
}

.coming__content
{
    background-color:#9dd4ef ;
    border-radius: 1rem;
    width: 45rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.btn--primary
{
    width: 20rem;
}