/* -------------- RESET---------------- */

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html
{
    font-size: 62.4%;
    scroll-behavior: smooth;
}

@media(max-width:1200px)
{
    html
    {
        font-size: 58%;
    }
}

@media(max-width:900px)
{
    html
    {
        font-size: 50%;
    }
}

@media(max-width:800px)
{
    html
    {
        font-size: 46%;
    }
}

@media(max-width:570px)
{
    html
    {
        font-size: 44%;
    }
}

@media(max-width:400px)
{
    html
    {
        font-size: 34%;
    }
}

@media(max-width:300px)
{
    html
    {
        font-size: 26%;
    }
}

button
{
    font-size: inherit;
}


/* --------------UTILITY CLASS------------------ */
:root
{
    --spacing-unit: 3rem 10rem;

    /* COLOR */
    
    --text-color: #fff;
    --alt-text-color: #000;
    --brand-color: #082A74;
    --btn-color: #003148;
    --footer-color: #002E45;
    --footer-BG: #9DD4EF;
}

a:any-link
{
    text-decoration: none;
    color: inherit;
}


/* --------------GENERAL STYLING------------------ */

body
{
    font-size: 1.6rem;
}

.parent-container
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
}

.header__section
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 2rem 10rem;
    font-size: 1.7rem;
    font-weight: 400; 
    background-color: #fff;  
    z-index: 1000;
}

.brand__rapper
{
    text-align: center;

}

.brand__logo
{
    background-color: var(--brand-color);
    padding: .5rem;
    border-radius: 50%;
}

.brand__name
{
    color: var(--brand-color);
    text-align: center;
}

.header__menu
{
    display: none;
    cursor: pointer;
}

.menu__nav
{
    display: none;
}
.header__nav
{
    display: flex;
    align-items: center;
}

.nav__items
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 3rem ;
}

.nav__link
{
    text-decoration: none;
    color:var(--alt-text-color) ;
}

.nav__link:hover
{
    border-top: .15rem solid var(--brand-color);
    border-bottom: .15rem solid var(--brand-color);
    padding: 1rem 0;
    opacity: .6;
}

.nav__button-rapper
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sign__btn
{
color: var(--text-color);
font-weight: 700;
padding: .8rem 1.6rem;
border-radius: .8rem;
background: var(--btn-color);
border: none;
}

.download__btn
{
border:.15rem solid var(--btn-color);
font-weight: 700;
padding: .8rem 1.6rem;
border-radius: .8rem;
background: var(--text-color);
}

.hero__btns
{
    margin-top: 2rem;
}



.btn--primary
{
color: var(--text-color);
font-weight: 700;
padding: .8rem 1.6rem;
border-radius: .8rem;
background: var(--btn-color);
border: none;
}

.btn--secondary
{
border:.15rem solid var(--btn-color);
font-weight: 700;
padding: .8rem 1.6rem;
border-radius: .8rem;
background: var(--text-color);
}

@media(max-width:1000px)
{
    .header__section
    {
        padding: 2rem 5rem;
    }

    .header__nav
    {
        gap: 1.5rem;
    }

    .nav__items
    { 
        gap: 1.5rem;
    }
}

@media (max-width:740px)
{
    .header__section
    {
        padding: .8rem 5rem;
    }

    .header__nav, .nav__button-rapper
    {
        display: none;
    }

    
    .header__menu
    {
        display: block;
        padding: 2rem;
        position: relative;
    }
 
  .menu__nav
   {
    position: absolute;
    top: 6rem;
    right: 1rem;
    width: 40%;
    display: none;
    padding: 3rem;
    border-radius: 1rem;
    transition: all 0.5s ease;
    z-index: 10;
    color: var(--footer-color);
    background-color: var(--footer-BG);
    
  }

  .menu__items
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    gap: 2rem;
    list-style-type: none;
    
    
  }

  .menu__item
  {
    padding: 1rem;
    border-bottom: .1rem solid var(--text-color);
  }


  .active
  {
    display: flex;
  }



}


/* THE MAIN SECTION STYLING */

main
{ 
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
}

/* HERO SECTION */

.hero__section
{
    grid-column: span 6;
    height: 100vh;
    display: grid;
    align-items: center;
    padding: var(--spacing-unit);

}

.hero__intro-rapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    line-height: 1.6;
}

.hero__sm-heading
{
    color: #052C65;
}

.hero__span-icon
{
    width: 2rem;
    margin-right: 1rem ;
    background-color:#F3E8FF;
}

.hero__title
{
    color: #031633;
    width:85%;
    font-size: 4.6rem;
}

.hero__description
{
    width:85%;
}

.hero__image
{
    width: 36rem;
    height: 36rem;
}

@media(max-width:1000px)
{
    .hero__section
    {
        padding: 3rem 5rem;
    }

    .hero__title
    {
        font-size: 3.8rem;
    }
}

@media (max-width:700px)
{
    .hero__section
    {
        text-align: center;
        height: 120vh;
    }
    
    .hero__intro-rapper
    {
        flex-direction: column;
        justify-content: center;
        height: 30%;
    }

    .hero__title, .hero__description
    {
        width:70%;
        margin: auto;
    }

    .hero__image
    {
        width: 42rem;
        height: 42rem;
    }
}

@media (max-width:400px)
{
    .hero__section
    {
        height: 62vh;
    }
}

/* ----------TOOLS SECTION----------- */

.tools__section
{
    grid-column: span 6;
    padding: var(--spacing-unit);   
}

.tools__intro-rapper
{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 4rem;
    line-height: 1.6;
}

.tools__card
{
    display: grid;
    gap: 4rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 30rem);
    line-height: 1.5;
}

.card
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0 0 .8rem .8rem;
    background: #D9D9D9;
    transition: all .5s ease-in-out;
    /* width: 32rem;? */
    
}

.card:hover
{
    box-shadow: 2px 3px 3px var(--brand-color);
    transform: translateY(-1rem);
}

.card__content
{
    padding: 2rem;
}

.card__img
{
    width: 100%;
    height: 18rem;
    border-radius: 1rem 1rem 0 0;
}

.card__icon
{
    border-radius: .5rem;
    width: 3rem;
    padding: .5rem;
    background: var(--brand-color);
}

@media(max-width:1000px)
{
    .tools__section
    {
        padding: 3rem 5rem;
    }
}

/*------------------- MORE-TOOLS SECTION----------------------- */

.more-tools__section
{
    grid-column: span 6;
    padding: var(--spacing-unit);
    background-color: var(--accent-opacity);
    text-align: center;
}

.more-tools__card
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap: 2rem;
}

.mt-card
{
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 30rem);
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.3rem;
    border-radius: 1.4rem;
    border: 0.5px solid #00000066;
    background: #FFF;
    padding: 2.4rem;
}

.mt-card__icon
{
    border-radius: .5rem;
    padding: .5rem;
    background-color:#F3E8FF;
    margin: auto;
    
}

.mt-card:hover
{
    box-shadow: 2px 3px 3px var(--accent-hover);
    transform: translateY(-6px);
}

.mt-card__description
{
    width: 90%;
    margin: auto;
}

/* -------- HOW IT WORKS [ STEP BY STEP]----------- */


.steps-section
{
    grid-column: span 6;
    text-align: center;
    padding: var(--spacing-unit);
    font-size: 1.6rem;
    line-height: 1.6;
}

.steps__intro-rapper
{
    text-align: center;
    margin: auto;
    padding: 4rem;
    line-height: 1.6;
}

.steps__title
{
    color: var(--brand-color);
}
.steps
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 23rem);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.step
{
    display: flex;
    height: 25rem;
    /* width: 25rem; */
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    border: 1px solid #E5E7EB;
    background: #EFF6FF;
    padding: 1rem 2rem;
    border-radius: .8rem;
    transition: all .8s ease-in-out;
}


.step:hover
{
    box-shadow: 1.5px 1.5px 5px var(--brand-color);
    transform: scale(1.1);
}
.step__number
{
    width: 2rem;
    height: 2rem;
    position: absolute;
    font-size: 1rem;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.30), 0 2px 4px -2px rgba(0, 0, 0, 0.30);

}

.step__icon 
{
    background-color: var(--brand-color);
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem; 
    margin:auto ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .step__title
{
    font-size: 1.1rem;
    margin-bottom: 10px;
} */

.step__description
{
    font-size: 1.3rem;
}



/* ----------------CALL TO ACTION SECTION-------------------- */

.CAT__section
{
 grid-column: span 6;
 padding: var(--spacing-unit);
}

.CAT__container
{
    padding: 2.4rem;
    display: flex;
    width: 100%;
    padding: 2.4rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 12px;
    border: 2px solid #E5E7EB;
    background: #FFF;

}

.CAT__image-rapper
{
    width: 80%;
}

.CAT__image
{
    width: 90%;
}

.CAT__content
{
    width: 80%;
    line-height: 2;
    color: var(--brand-color);
    font-weight: light;
}

.CAT__description
{
    font-size: 1.6rem;
}

.CAT__btns
{
    margin-top: 2rem;
}

@media (max-width:740px)
{
    .CAT__container
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* FOOTER SECTION  */
.footer-section
{
    grid-column: span 6;
    /* padding: var(--spacing-unit); */
}

.footer-container
{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--spacing-unit);
    background-color: var(--footer-BG);
    color: var(--footer-color);
    line-height: 2;
    font-size: 1.3rem;

}

.footer__content
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}
.footer__brand-logo
{
    background-color: var(--brand-color);
    padding: .3rem;
    border-radius: 50%;
}

.footer__brand-name
{
    color: var(--brand-color);
}

.footer__icon
{
    background-color: var(--footer-color);
    padding: 1rem;
    border-radius: 50%;
}
.footer__items
{
    list-style-type: none;
}

.footer__link:any-link
{
    text-decoration: none;
}

.footer__contact
{
    text-align: center;
    width: 20rem;
}
.contact__form
{
    display: flex;
    flex-direction: column;
}

.form__label
{
    display: block;
}

.form__details
{
    border: none;
    border-radius: 1rem;
    margin: .5rem 0;
    outline: none;
}

.form__input, .form__textarea
{
    width: 32rem;
    padding: 1.5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
}

.form__textarea
{
    height: 7.1rem;
}

::placeholder
{
    font-size: 1.4rem;
    color: var(--footer-color);
}

.form__btn
{
    width: 20rem;
    /* align-self: flex-end; */
    padding: 1.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;
}

.copyright
{
    display: flex;
    gap: 2rem;
    padding: var(--spacing-unit);
    font-size: 1.3rem;
    background-color: var(--footer-BG);
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1.5px solid rgba(30, 41, 57, 0.20);
}

.copyright__links-rapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.copyright__link
{
    text-decoration: none;
}

@media(max-width:1000px)
{
    .footer-container
    {
        padding: 2rem 5rem;
    }

}